<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coronary Prediction</title>
<style>
body {background-color:LightGray;}
h1   {color:SlateBlue;font-family: verdana;}
h2    {color: Tomato;font-family: courier;font-size: 30px;}
p     {color:Black;font-family: "Times New Roman", Times, serif;font-size: 20px;}
</style>
</head>
<body style="display:flex; flex-direction:column; align-items:center; justify-content:center;">
    <h1>Health.ai</h1>
    <br>
<p>The word health refers to a state of complete emotional and physical well-being. Healthcare exists to help people maintain this optimal state of health.</p>
<p>“A resource for everyday life, not the objective of living. Health is a positive concept emphasizing social and personal resources, as well as physical capacities.”</p>
    <form action="/home" method="post">
     <input type="submit" value="diabatics">
    </form>
    <br>
    <form action="/covid" method="post">
     <input type="submit" value="covid">
    </form>
    <br>
    <form action="/caronary" method="post">
     <input type="submit" value="caronary">
    </form>
    <br>
    <form action="/calories" method="post">
     <input type="submit" value="calories">
    </form>
    <br>

</body>
</body>
</html>